#ignore VS code 
.vscode/
#ignore Notebook Checkpoints
.ipynb_checkpoints/
#largefile Model
#model/
ipython
#wandb
wandb/
model/
__pycache__
.DS_Store
#graphworld
graphworld/
gif/
decycler/
dataset/
log/
Figure/
Eval_RealWorld/
Evaluation_Notebook/
Test/
*.ipynb
*.sh 